body {
    background-color: #1d1d1d;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin: 2em;
}
  
#map {
    height: 280px;
    width: 100%;
}
  
header {
    text-align: center;
}
  
header a.link {
    display: block;
    margin: 1em;
}
  
a {
    color: #fff;
}
  
a:hover {
    text-decoration: none;
}
  
a.btn {
    color: #f8b0b0;
    border: 1px solid #f8b0b0;
    padding: 0.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
    width: 250px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
  
a.btn:hover {
    color: #1d1d1d;
    background-color: #f8b0b0;
}
  
#feedback {
    font-weight: bold;
  
}

#locate-btn {
    margin: 1em 0;
    display: block;
}

 
@media only screen and (min-width: 600px) {
    .buttons {
      display: block;
    }
  
    header,
    section.map-section {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
  
    #map {
      height: 60vw;
      max-height: 70vh;
    }
}
  
#museum-list {
    list-style: none;
    padding: 0;
}
  
#museum-list li {
    margin: 1em 0;
}
  
.upload-btn {
    color: #f8b0b0;
    border: 1px solid #f8b0b0;
    padding: 0.5em;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
  
.upload-btn:hover {
    color: #1d1d1d;
    background-color: #f8b0b0;
}
  